node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
firebase-applet-config.json
firebase-blueprint.json

# Internal Metadata
metadata.json
security_spec.md
